body {
  margin: 0;
  padding: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0 1rem 1rem;
  cursor: pointer;
}

.btn-save {
  margin-left: auto;
}

.form {
  display: flex;
  flex-wrap: wrap;
}
